streamlit==1.40.1
google-api-python-client==2.151.0
google-auth==2.36.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
pandas==2.2.3
plotly==5.24.1
python-dateutil==2.9.0
python-dotenv==1.0.1
