# Streamlit Cloud Secrets 템플릿
# 실제 secrets.toml 파일은 Streamlit Cloud 대시보드에서 직접 입력합니다.

[gdrive]
folder_id = "여기에_폴더_ID"

[oauth]
# 다음 정보는 oauth_credentials.json에서 가져옵니다
client_id = "여기에_클라이언트_ID"
client_secret = "여기에_클라이언트_SECRET"
project_id = "doyudang-loan"

[token]
# 다음 정보는 token.json에서 가져옵니다
token = "여기에_토큰"
refresh_token = "여기에_리프레시_토큰"
token_uri = "https://oauth2.googleapis.com/token"
